node_modules
# Ignora el entorno virtual
entorno/

# Ignora los archivos y directorios generados durante el desarrollo
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
db.sqlite

# Ignora archivos de configuración específicos
instance/

# Ignora archivos de registro
logs/
*.log

